<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1067316084435-gqsu59tg2d39u3ik74lh03v5haeb0tim.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1067316084435-gqsu59tg2d39u3ik74lh03v5haeb0tim</string>
	<key>API_KEY</key>
	<string>AIzaSyBnIP_KzaimM0LvWsJNs5u2pjxjvqsY-fU</string>
	<key>GCM_SENDER_ID</key>
	<string>1067316084435</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.rocketBooker</string>
	<key>PROJECT_ID</key>
	<string>rocket-booker</string>
	<key>STORAGE_BUCKET</key>
	<string>rocket-booker.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1067316084435:ios:732ffa968558df3817de26</string>
</dict>
</plist>